/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Common styling*/

body {
  display: flex;
  font-family: Inter;
  background: #EDEEF2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* MAIN NAV */

.brgr-menu {
  display: none;
}

body > nav {
  position: fixed;
  z-index: 1;
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
}

body > nav a {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s, filter .5s;
}

body > nav a:hover {
  background-color: black;
  transition: background-color .5s;
}

body > nav a:hover img {
  filter: invert();
  transition: filter .5s;
}

body > nav > a {
  border-top: 1px solid #EDEEF2;
}

body > nav a img {
  height: 50%;
}

body > nav ul a:nth-child(2) {
  background: #080C2F;
}

/* SECTION */

section {
  margin-top: 2.6vw;
  width: 100%;
}

.container, .presentations {
  padding: 0 8vw;
  box-sizing: border-box;
}

section > * {
  margin-bottom: 2vw;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: #080C2F;
  font-size: 1vw;
  color: white;
  padding: 1vw;
  border-radius: 10%;
}

section > nav > ul .button {
  background: #080C2F;
  font-size: 0.7vw;
  color: white;
  padding: 0.4vw 0.7vw;
  border-radius: 10%;
  margin-left: 0.3vw;
}

section > nav > ul .button:not(:first-child) {
  background: white;
  color: #A1A3A8;
}

section > ul {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 35vh);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  margin-bottom: 15vh;
}

section > ul > li {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
  box-sizing: border-box;
  border-radius: 10px;
}

section ul li nav {
  display: flex;
  align-items: center;
}

section ul li nav .button {
  background: #FFF5C7;
  color: #E0B500;
  font-size: 0.8vmax;
  padding: 3% 5%;
  border-radius: 10%;
}

section ul li:nth-child(3) nav .button {
  background: #EDEDED;
  color: #8D8D8D;
}

section ul li:nth-child(3) ~ li nav .button {
  background: #E1FFC7;
  color: #3FA327;
}

section ul li nav ul img {
  height: 1.2vw;
  margin-left: .3vw;
}

.title h3 {
  width: 83%;
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 1.5vw;
  margin: 1vw 0;
}

.title p {
  font-size: 0.7vmax;
  color: #AFAFAF;
}

.shadow {
  position: fixed;
  bottom: -28vh;
  width: 100vw;
  height: 200px;
  background-color: #EDEEF2;
  box-shadow: 10px -10px 80px 50px #EDEEF2;
}

@media only screen and (max-width: 1000px) {

  body > nav {
    display: none;
  }

  .presentations {
    display: flex;
    align-items: center;
  }

  .brgr-menu {
    display: block;
    position: relative;
    margin-right: 5%;
  }

  .brgr-menu, .brgr-menu::before, .brgr-menu::after {
    width: 6vw;
    height: 0.5vw;
    background: black;
    border-radius: 3px;
  }

  .brgr-menu::before {
    position: absolute;
    content: '';
    top: -3vw;
  }

  .brgr-menu::after {
    position: absolute;
    content: '';
    top: 3vw;
  }

  h2 {
    font-size: 5.8vw;
  }

  section {
    margin-top: 10vw;
  }

  section > * {
    margin-bottom: 7vw;
  }

  section > nav {
    align-items: flex-start;
    flex-direction: column;
  }

  section > nav .button {
    font-size: 3.2vw;
    padding: 3vw 5vw;
    border-radius: 5px;
    margin-bottom: 5vw;
  }

  section nav ul .button {
    font-size: 3vmin;
    padding: 2vw 4vw;
    border-radius: 5px;
    margin-right: 2vw;
  }

  section > ul {
    display: block;
  }

  section > ul li {
    margin-bottom: 8vw;
    padding: 4vw;
  }

  section > ul li .title p {
    font-size: 3vw;
  }

  section > ul li .title h3 {
    font-size: 4vw;
    width: 75%;
    font-weight: 400;
    line-height: 6vw;
    margin: 5vmin 0;
  }

  section > ul li nav {
    margin-top: 6vmin;
  }

  section > ul li nav .button {
    font-size: 3vw;
    padding: 2vw 3vw;
  }

  section ul li nav ul img {
    height: 4.5vw;
    margin-left: 3vw;
  }

  .shadow {
    display: none;
  }
}
