/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Common styling*/

body {
  display: flex;
  font-family: Inter;
  background: #EDEEF2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* MAIN NAV */

.brgr-menu {
  display: none;
}

body > nav {
  position: fixed;
  z-index: 1;
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
}

body > nav a {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s, filter .5s;
}

body > nav a:hover {
  background-color: black;
  transition: background-color .5s;
}

body > nav a:hover img {
  filter: invert();
  transition: filter .5s;
}

body > nav > a {
  border-top: 1px solid #EDEEF2;
}

body > nav a img {
  height: 50%;
}

body > nav ul a:nth-child(2) {
  background: #080C2F;
}

/* SECTION */

section {
  width: 100%;
  padding: 0 8%;
}

section > * {
  margin-top: 5vh;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > ul {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 35vh);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

section > ul > li {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vw;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.gauge-box {
  width: 65vw;
  height: 65vw;
  background: #EDEEF2;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.gauge-fill {
  width: 65vw;
  height: 65vw;
  position: absolute;
  background-color: #E0B500;
  clip-path: polygon(0 0, 49% 0, 50% 50%, 100% 97.5%, 100% 100%, 0 100%);}


li:nth-child(2) .gauge-fill {
  background: #3FA327;
  clip-path: polygon(0 0, 50% 0, 50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%);
  }

li:nth-child(2) h3, li:nth-child(2) span {
  color: #3FA327;
}
.percentage {
  position: absolute;
  width: 44vw;
  height: 44vw;
  background: white;
  border-radius: 50%;
  color: #E0B500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13vw;
}

.percentage h3 {
  font-weight: 400;
}

li p {
  font-size: 3.5vw;
  line-height: 6vw;
}

article {
  width: 84%;
  margin: 5vw 0;
}

article span {
  color: #E0B500;
}

h4 {
  font-size: 5.7vw;
  font-weight: 400;
  line-height: 7vw;
}

article * {
  margin-top: 6vw;
}


h5 {
  font-size: 3.5vw;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  background: #080C2F;
  color: white;
  width: 120%;
  padding: 7vh 0 3vh 20vw ;
  margin: -8vh 0 0 -20vw;
}

h5 i {
  font-size: 3.5vw;
  margin: 0 0 0 2vw;
}

.title {
  padding-top: 5vw;
  position: relative;
}

.title:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -1vw;
  left: -8vw;
  width: 150%;
  height: 1px;
  background: #EDEEF2;
}

section > ul li .title h3 {
  font-size: 3.5vw;
  font-weight: 500;
  width: 83%;
  font-weight: 400;
  line-height: 6vw;
}

section > ul li .title p {
  font-size: 3vw;
  color: #AFAFAF;
}

.buttons {
  margin: 4vw 0 5vw 0;
  display: flex;
  justify-content: space-between;
}

.buttons a {
  padding: 2vw 6.3vw;
  font-size: 3vw;
  border-radius: 5px;
}

.buttons .red-button {
  background: #FFC7C7;
  color: #800000;
}

.buttons .amber-button {
  background: #FFF5C7;
  color: #524100;
}

.buttons .green-button {
  background: #E1FEC7;
  color: #255E17
}

.buttons .review-button {
  background: #D8315B;
  color: #FFFFFF;
}

@media only screen and (max-width: 1000px) {

  body > nav {
    display: none;
  }

  .presentations {
    margin-bottom: 12vw;
  }

  h2 {
    font-size: 5.8vw;
    margin-left: 3vw;
  }

  section > ul {
    display: block;
  }

  section > ul > li {
    margin-bottom: 8vw;
  }

  section > ul li:last-child {
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .presentations {
    display: flex;
    align-items: center;
  }

  .brgr-menu-box {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brgr-menu {
    display: block;
    position: relative;
    margin-right: 5%;
  }

  .brgr-menu, .brgr-menu::before, .brgr-menu::after {
    width: 7vw;
    height: 0.5vw;
    background: black;
    border-radius: 3px;
  }

  .brgr-menu::before {
    position: absolute;
    content: '';
    top: -3vw;
  }

  .brgr-menu::after {
    position: absolute;
    content: '';
    top: 3vw;
  }
}
